.comment-input__form {
    
    &.reply {
        margin-left: 1.5rem;

        @include tablet() {
            margin-left: 7.5rem;
        }
    }

    label {
        font-size: 1.125rem;
        letter-spacing: -0.25px;
        font-weight: $fw-bold;
        color: $dark-blue-2;
    }


    textarea {
        display: block;
        width: 100%;
        min-height: 80px;
        resize: none;
        border-radius: 5px;
        border: none;
        background-color: $light-gray;
        padding: 1rem 0 0 1rem;
        font-size: 0.813rem;
        color: $dark-blue-2;
        font-family: $font-primary;
        transition: outline 0.1s ease;

        &:focus {
            outline: 1px solid $blue;
        }
    }

    .comment-input__wrapper {
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        &.reply {
            @include tablet() {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }
        }
    }

    .submit-btn__container {
        margin-top: 1rem;

        &.reply {
            @include tablet() {
                margin-top: 0;
            }
        }
    }
}