.roadmap__container {
    @include tablet(){
        padding: 3.5rem 2.5rem 2rem 2.5rem;
    }
}

.roadmap-column__container {

    @include desktop() {
        width: 100%;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }
}