.replying-to__span {
    color: $magenta;
    font-weight: $fw-semibold;
}

.comment__container:has(> .reply-list__container) {
    position: relative;
}

.comment__container.reply {
    padding-left: 1.5rem;
    position: relative;
    &:not(:last-child):before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: -2.5rem;
        background: $dark-gray-blue;
        opacity: .1;
        width: 1px;
    }

    @include tablet() {
        padding-left: 3rem;
        position: static;
        &:not(:last-child):before {
            content: none;
        }
    }
}