.toolbar-sm__container {
    padding: 0.5rem 1.5rem;
    @include tablet() {
        display: none;
    }

    .toolbar__suggestion-count {
        display: none;
        
    }
}

.toolbar-lg__container {
    display: none;

    @include tablet() {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    @include desktop() {
        position: fixed;
        top: 94px;
        margin-left: 271px;
        width: 100%;
        max-width: calc(1110px - 271px);
        z-index: 2;
    }
}

.toolbar-bg {
    background-color: $dark-blue-2;
}

.toolbar__wrapper,
.toolbar__menu li select {
    color: $white;
}

.toolbar__wrapper {
    @include tablet() {
        display: flex;
        align-items: center;
        padding: 0.875rem 1rem 0.875rem 1.5rem;

    }
}

.toolbar__suggestion-count {
    margin: 0 2.375rem 0 1rem;

    p, span {
       font-size: 1.125rem;
       font-weight: $fw-semibold;
    }

    p {
        margin-left: 1rem;
    }

    .suggestion-count {
        margin-right: .375rem;
    }
}

.toolbar__menu  {
    li label {
        font-weight: $fw-light;
        font-size: 0.813rem;
    }

    li select {
        font-weight: $fw-semibold;
        font-family: $font-primary;
        border: none;
        background-color: transparent;
        font-size: 0.813rem;
    }

    li:last-of-type {
        margin: 0.5rem 0;
    }

}