.form-group {
    margin: 1.5rem 0;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 2.5rem;
    }

    label {
        font-size: 0.813rem;
        letter-spacing: -0.18px;
        color: $dark-blue-2;
        font-weight: $fw-bold;

        @include tablet() {
            font-size: 0.875rem;
            letter-spacing: -0.19px;
        }
    }

    p {
        font-size: 0.813rem;
        color: $dark-gray-blue;
        margin-bottom: 1rem;
        margin-top: 0.133rem;
        font-weight: $fw-regular;

        @include tablet() {
            font-size: 0.875rem;
        }
    }
}

.form-control {
    width: 100%;

    input, textarea, select {
        width: 100%;
        border: none;
        background-color: $light-gray;
        padding: 0.813rem 1rem;
        font-family: $font-primary;
        color: $dark-blue-2;
        font-weight: $fw-regular;
        font-size: 0.813rem;

        @include tablet() {
            padding: 0.75rem 1.5rem;
            font-size: 0.938rem;
        }
    }

    input, select {
        min-height: 44px;
    }

    textarea {
        min-height: 96px;
        resize: none;
    }

    select {
        position: relative;

        // .category-values__wrapper {
        //     position: absolute;
        // }
    }
}

  .submit-btn__container {

        menu {
            flex-direction: column;

            li {
                &:first-of-type {
                    margin-bottom: 1rem;
                }
                
            button {
                width: 100%;
            }
            }
        }
    }