@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap');
@import "./assets/css/mixins";
@import "./assets/css/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root, button {
  font-family: $font-primary;
  font-size: 16px;
}

button {
  font-weight: $fw-semibold;
}

#root {
  min-height: 100vh;
  background-color: $light-gray;
}

menu, ul, ol {
  list-style-type: none;
}

/* Utilities */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.centered {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-inline {
  display: inline-flex;
}

.flex-end {
  align-items: flex-end;
}

.row-between {
  flex-direction: row;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.link { // all <a> tags
  text-decoration: none;
}

// Mobile Overlay
.opaque-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 72.469px; // Height of mobile navbar
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

  @include tablet() {
    display: none;
  }
}

.bar-padding {
  padding: 1rem 1.5rem;
}

.pill-bg {
  background-color: $light-grayblue;
}

.btn {
    border-radius: 10px;
    width: 134px;
    height: 40px;
    border: none;
    color: $white;
    font-family: $font-primary;
    font-weight: $fw-semibold;
    padding: 0.616rem 1rem;
    font-size: 0.813rem;

    @include tablet() {
        width: 158px;
        height: 44px;
        font-size: 0.875rem;
    }
}

.btn-magenta {
  background-color: $magenta;
}

.btn-blue {
  background-color: $blue;
}

.white-bg {
  background-color: $white;
}

.border-10 {
  border-radius: 10px;
}


@import "./components/mobile/Nav/navmob";
@import "./components/FeedbackBoard/feedbackboard";
@import "./components/NoFeedbackAlert/no-feedback-alert";
@import "./components/Sidebar/Categories/categories";
@import "./components/Sidebar/Roadmap/roadmap";
@import "./components/Suggestion/suggestion";
@import "./components/SuggestionList/suggestion-list";
@import "./components/Toolbar/toolbar";
@import "./components/DetailNavBanner/detail-nav-banner";
@import "./components/Comment/comment";
@import "./components/CommentInput/comment-input";
@import "./components/ReplyList/reply-list";
@import "./components/Reply/reply";

// Mobile-specific Styles
@import "./components/mobile/Nav/navmob";
@import "./components/mobile/Sidebar/sidebar-mob";

@import "./pages/ProductFeedback/product-feedback";
@import "./pages/FeedbackDetail/feedback-detail";