@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap');
@import "./assets/css/mixins";
@import "./assets/css/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root, button {
  font-family: $font-primary;
  font-size: 16px;
}

button {
  font-weight: $fw-semibold;
}

#root {
  min-height: 100vh;
  background-color: $light-gray;
}

menu, ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a.btn-link {
  text-align: center;
  min-width: 119px;
  min-height: 40px;

  @include tablet() {
    min-width: 142px;
    min-height: 44px;
  }
}

/* Utilities */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.centered {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-inline {
  display: inline-flex;
}

.flex-end {
  align-items: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-end {
  justify-content: flex-end;
}

.row-between {
  flex-direction: row;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.link { // all <a> tags
  text-decoration: none;
}

// Mobile Overlay
.opaque-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 72.469px; // Height of mobile navbar
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

  @include tablet() {
    display: none;
  }
}

.bar-padding {
  padding: 1rem 1.5rem;
}

.pill-bg {
  background-color: $light-grayblue;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    width: 134px;
    height: 40px;
    border: none;
    color: $white;
    font-family: $font-primary;
    font-weight: $fw-semibold;
    padding: 0.616rem 1rem;
    font-size: 0.813rem;

    @include tablet() {
        width: 158px;
        height: 44px;
        font-size: 0.875rem;
    }

    &.submit-reply {
      width: 117px;
    }
}

.link-btn {
  font-size: 0.813rem;
  color: $white;
  min-width: 119px;
  min-height: 40px;
  border-radius: 10px;
  transition: background-color 0.2s ease;

  @include tablet() {
    font-size: .875rem;
    min-width: 144px;
    min-height: 42px;
  }

  @include desktop() {
    &:hover {
      background-color: $blue-hover;
    }
  }
}



// For '+ Add Feedback' and 'Edit Feedback' buttons (<a> tags styled as buttons)
.link-btn {
  font-weight: $fw-semibold;
  text-align: center;
  text-decoration: none;
}

.btn-magenta {
  background-color: $magenta;

  @include desktop() {
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $magenta-hover;
    }
  }
}

.btn-blue {
  background-color: $blue;
  @include desktop() {
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $blue-hover;
    }
  }
}

.btn-dark-blue {
  background-color: $dark-blue-2;

  @include desktop() {
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $dark-blue-2-hover;
    }
  }
}

.white-bg {
  background-color: $white;
}

.border-10 {
  border-radius: 10px;
}

// General input styling

.input-focusable {
  transition: outline 0.1s ease;

      &:focus {
          outline: 1px solid $blue;
      }
}

.error {
    outline: 1px solid $textfield-danger;
}

// Components
@import "./components/mobile/Nav/navmob";
@import "./components/SharedNavBanner/shared-nav-banner";
@import "./components/SharedFeedbackHeader/shared-feedback-header";
@import "./components/FeedbackBoard/feedbackboard";
@import "./components/NoFeedbackAlert/no-feedback-alert";
@import "./components/Sidebar/Categories/categories";
@import "./components/Sidebar/Roadmap/roadmap";
@import "./components/Suggestion/suggestion";
@import "./components/SuggestionList/suggestion-list";
@import "./components/Toolbar/toolbar";
@import "./components/BackLink/back-link";
@import "./components/Comment/comment";
@import "./components/CommentInput/comment-input";
@import "./components/ReplyList/reply-list";
@import "./components/Reply/reply";
@import "./components/Wrapper/wrapper";
@import "./components/FeedbackFormContainer/feedback-form-container";
@import "./components/FeedbackFormWrapper/feedback-form-wrapper";
@import "./components/AddFeedbackForm/add-feedback-form";
@import "./components/Dropdown/dropdown";
@import "./components/InputErrorMessage/input-error-message";

// Mobile-specific Styles
@import "./components/mobile/Nav/navmob";
@import "./components/mobile/Sidebar/sidebar-mob";

// Pages
@import "./pages/ProductFeedback/product-feedback";
@import "./pages/FeedbackDetail/feedback-detail";