.roadmap-tab__container {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: -4.5px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #8C92B3;
        opacity: 0.25;

    }

    &.underline-1 {
        &:after {
             transition: transform 0.2s ease-in-out;
            transform: translateX(0);
        }
    }

    &.underline-2 {
        &:after {
             transition: transform 0.2s ease-in-out;
            transform: translateX(100%);
        }
    }

    &.underline-3 {
        &:after {
            transition: transform 0.2s ease-in-out;
            transform: translateX(200%);
        }
    }

    &:after {
            content: "";
            position: absolute;
            bottom: -4.5px;
            left: 0;
            right: 0;
            height: 4.5px;
            background-color: $magenta;
            width: 33.3333%;
        }
        
        li {
            padding: 1.25rem 0;
            flex-basis: 33.3333%;
            text-align: center;
            position: relative;
    
        button {
            border: none;
            background-color: transparent;
            font-size: 0.813rem;
            letter-spacing: -0.18px;
            font-weight: $fw-semibold;
            color: $dark-blue-2;
            opacity: 0.4;
            width: 100%;
            height: 100%;
            transition: opacity 0.1s ease-in-out;
    
            &.active {
                opacity: 1;
            }
        }
    }
    
}
