.comments__container {
    margin-top: 1.5rem;
    padding: 1.5rem 2rem;

    .comments__header {
        h2 {
            color: $dark-blue-2;
            font-size: 1.125rem;
        }
    }
}

.comment-input__container {
    margin-top: 1.5rem;
    padding: 1.5rem;
}

