.feedback-detail__container {
    padding: 1.5rem 1.5rem 5.5rem 1.5rem;
    
    @include tablet() {
        padding: 3.5rem 0 7.5rem 0;
        width: 100%;
        max-width: 689px;
        margin: 0 auto;
    }

    @include desktop() {
        padding: 5rem 0 8.563rem 0;
        max-width: 730px;
    }

    .feedback-detail__wrapper {
        margin-top: 2rem;
    }
}

.comments__container {
    margin-top: 1.5rem;
    padding: 1.5rem 2rem;

    .comments__header {
        h2 {
            color: $dark-blue-2;
            font-size: 1.125rem;
        }
    }
}

.comment-input__container {
    margin-top: 1.5rem;
    padding: 1.5rem;
}

